body {
  background: black;
  color: yellow;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
  height: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  text-transform: uppercase;
  text-align: center;
  list-style: none;
  display: inline-block;
  letter-spacing: 15px;
}

h1 {
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}

p {
  text-align: center;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  display: table;
  clear: both;
}


#alphabet {
  margin: 15px auto;
  padding: 0;
  max-width: 960px;
  clear: both;
}

#alphabet li {
  background: yellow;
  color: black;
  padding-top: 10px;
  padding-left: 10px;
  margin: 10px;
  list-style: none;
  width: 35px;
  height: 30px;
  cursor: pointer;
  border: solid 1px yellow;
  border-radius: 5px;
}

#alphabet li:hover {
  background: black;
  color: yellow;
  border: solid 1px yellow;
}

#hold {
  margin-top: 18px;
  margin-bottom: 18px;
}

#chosen-word {
  margin: 0;
  padding: 0;
  display: block;
}

#chosen-word li {
  position: relative;
  margin: 0;
  padding: 0;
}

#player-lives {
  text-align: center;
  display: inline-block;
}

.container {
  margin-top: 18px;
  margin-bottom: 18px;
}

button {
  font-size: 18px;
  background: yellow;
  color: black;
  cursor: pointer;
  border: solid 1px yellow;
  border-radius: 5px;
  outline: none;
}

button:hover {
  background: black;
  color: yellow;
}
